{% assign indexx = 0 %}

<div id="posts" class="mx-auto max-w-screen-lg px-3 py-6">
  <div class="mb-6 text-2xl font-bold">
    <div class="flex items-baseline justify-between">
      <div>Recent <span class="bg-gradient-to-br from-accent to-primary bg-clip-text text-transparent">Posts</span>
      </div>
      <div class="text-sm"><a href="/s/posts">View all Posts →</a></div>
    </div>
  </div>
  <div class="grid grid-cols-1 gap-6 md:grid-cols-3 text-white">
    {% for page in pages %}
      {% if page.settings.type.value == '0' %}
        {% assign  indexx = indexx + 1 %}
        <a class="hover:translate-y-1" href="{{ page.path }}">
          <div class="overflow-hidden rounded-md bg-secondary">
            <div class="aspect-w-3 aspect-h-2">
              {% assign default_thumb_url = 'images/image-post' | append: forloop.rindex | append: '.jpg' | asset_url %}
              <img class="h-full w-full object-cover object-center" src="{{ page.settings.thumb_url | default: default_thumb_url }}" alt="{{ page.link_text }}" loading="lazy">
            </div>
            <div class="px-3 pt-4 pb-6 text-center">
              <h2 class="text-xl font-semibold">{{ page.settings.title }}</h2>
              <div class="mt-1 text-xs text-white">{{ page.published_at | date: "%Y-%m-%d" }}</div>
              <div class="mt-2 text-sm">{{ page.settings.description }}</div>
            </div>
          </div>
        </a>
      {% else %}
        {% if indexx > 3 %}
          {% break %}
        {% else %}
          {%  continue  %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>
