{% assign default_avatar_url = 'images/demo/avatar-01.jpg' |  asset_url %}
<li class="pt-4" id="reply_{{ reply.id }}">
  <div class="mb-1" x-data="{open: false}">
    <div class="flex items-center mb-1">
      <img class="mr-2 rounded-full" src="{{  reply.author.avatar_url | default: default_avatar_url }}" width="20" height="20"
        alt="User 15" />
      <div class="text-xs text-slate-600">
        <a class="font-medium text-indigo-500 transition duration-150 ease-in-out hover:text-indigo-400"
          href="#0">{{ reply.author.name }}</a> · <span class="text-slate-500">{{ reply.created_at | date: "%Y-%m-%d %H:%M %H:%M" }}</span>
      </div>
    </div>
    <div class="mb-1 space-y-4 text-sm">
      <span class="prose ProseMirror sm:prose-base lg:prose-lg focus:outline-none dark:prose-invert text-slate-600 dark:text-slate-400">
        {% if reply.root.id != reply.parent.id %}
        <span class="text-sm text-primary"> @ {{ reply.reply_to_user.name }} </span>
        {% endif %}
        {{ reply.body }}
      </article>
    </div>
    {% if current_user %}
      <div class="flex space-x-2 text-xs text-slate-600">
        <span class="text-xs cursor-pointer text-slate-600" @click="open = !open">回复</span>
        {% if current_user.member_id == reply.author.id %}
          {% form_tag 'reply', reply, method: 'delete' %}
            <input value="destroy_reply_success" autocomplete="off" type="hidden" name="return_template_name">
            <button class="inline"> 删除 </button>
          {% endform_tag %}
        {% endif %}
      </div>

      {% if reply.root %}
        {% assign root = reply.root %}
      {% else %}
        {% assign root = reply %}
      {% endif %}

      {% render 'reply_answer_form', root: root, parent: reply %}
    {% endif %}

    {% assign replies = reply.replies %}
    <ul class="pl-4 mt-2 border-l-2 border-slate-200 dark:border-slate-700" id="answer_{{ reply.id }}_replies_list">
        {% for reply in replies %}
          {% render 'reply', reply: reply %}
        {% endfor %}
    </ul>
  </div>
</li>
