
<div class="mx-auto max-w-screen-lg px-3 py-6">
  <h1 class="text-center text-3xl font-bold">{{ page.settings.title }}</h1>
  <div class="mt-2 text-center text-sm text-gray-400">By <!-- -->Emma<!-- --> on<!-- --> <!-- -->Feb 1, 2020</div>
  <div class="mx-auto mt-5 max-w-prose">
    <div class="aspect-w-3 aspect-h-2">
      {% assign random_number = "now" | date: "%N" | modulo: 4 | plus: 1 %}
      {% assign default_thumb_url = 'images/image-post' | append: random_number | append: '.jpg' |  asset_url %}
      <img class="h-full w-full rounded-lg object-cover object-center" src="{{ page.settings.thumb_url |  default: default_thumb_url }}" alt="{{ page.link_text }}" loading="lazy" />
    </div>
    <div class="prose lg:prose-lg mt-8 prose-img:rounded-lg">

      <div class="ml-3 flex gap-2">
        {% for tag in page.settings.tags %}
          <a href="{{ tag.path }}" class="rounded-md px-2 py-1 text-xs font-semibold bg-info text-white"
            style="
            background-color: hsl({{ tag.color_hls[0] }}, {{ tag.color_hls[1] }}%, 90%);
            color: {{ tag.color }};">
            {{ tag.name }}
          </a>
        {% endfor %}
      </div>
      <div class="border-l border-4 border-primary bg-slate-100 p-2 lg:p-4 my-2 lg:my-4">{{ page.settings.description }}</div>
      {{ page.settings.content }}
    </div>
  </div>
</div>


<!--/ article-->
{% schema %}
    {
    "name": "Page",
    "thumb_url": "images/theme/page.png",
    "description": "文章模板，固定的布局",
    "sub_page_templates": ["page"],
    "settings": [
        {
          "id": "type",
          "type": "select",
          "default": "0",
          "choices": [{"label":"博客文章","value":"0"},{"label":"项目案例","value":"1"},{"label":"其他","value":"2"}],
          "label": "页面类型"
        },
        {
          "id": "thumb_url",
          "type": "image_picker",
          "ratio": "1:1",
          "width": 600,
          "label": "封面图片"
        },
        {
          "id": "title",
          "type": "text",
          "placeholder": "",
          "label": "标题",
          "info": "显示在正文上方的文章标题"
        },
        {
          "id": "description",
          "type": "text",
          "placeholder": "",
          "label": "描述",
          "info": "文章描述"
        },
        {
          "id": "content",
          "type": "richtext",
          "label": "页面内容"
        },
        {
          "id": "tags",
          "type": "tag_picker",
          "multiple": true,
          "label": "标签"
        }
    ]
    }
{% endschema %}
