
<div class="hidden sm:block">
  <div class="py-4 mx-auto truncate max-w-7xl">
    {% render 'breadcrumb', breadcrumb: page.breadcrumb %}
  </div>
</div>

<div class="flex flex-col min-h-full bg-gray-50">

  <div class="flex-1 lg:pb-24 sm:px-8 lg:pt-12 lg:px-12">
    <div class="flex flex-col justify-between mx-auto max-w-screen md:flex-row">

      <!-- main content -->
      <main class="flex-1 w-full min-w-3xl">
        <div class="px-6 py-6 md:py-8 md:px-12 bg-white rounded-md shadow-lg  shadow-slate-200">
          
          <!-- Page header -->
          <header class="mb-4">
            <h1 class="mb-4 h2 md:h1 font-aspekta">{{ page.link_text  }}</h1>
            <div class="flex items-center">
              {% if site.settings.is_allow_author %}
                <img class="mr-2 rounded-full" src="{{ page.author.avatar_url | default: site.settings.default_avatar }}" width="20" height="20"
                  alt="User 01" />
                <div class="text-sm text-slate-600">
                  <a class="font-medium"
                    href="#0">{{ page.author.name }}</a> · <span class="text-slate-500">{{ page.created_at | date: "%Y-%m-%d %H:%M" }}</span> · <span
                    class="text-slate-500">{{ page.comments | size }} {{ 'generic.comments' | t}}</span>
                </div>
              {% endif %}
            </div>
          </header>

          <article class="ProseMirror break-words">
            {{ page.settings.content | sanitize_html }}
          </article>

          <!--Tags-->
          {% if page.settings.tags.size > 0 %}
            <div class="flex items-center py-4 mt-4 space-x-2 text-xs font-light md:mt-8 shrink-0 ">
                <p>{{ 'generic.tags' | t }}：</p>
                {% for tag in page.settings.tags %}
                    <a href="{{ tag.path }}" style="background-color: {{ tag.color }}" class="px-2 py-1 text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2">
                    {{ tag.name }}
                    </a>
                {% endfor %}
            </div>
          {% endif %}

          <!-- Sub Post Section -->
          {% render 'sub_page_list', page: page %}

          <!-- Upvotes button -->
          <div class="flex justify-center mx-auto mt-12 border-t">
            <div class="shrink-0 mt-4" x-data="{ posted_feedback: {{ page.visitor_posted_feedback }}, feedback_count: {{ page | feedback_type_count: site.settings.feedback_useful_type }}  } ">
              <div x-show="posted_feedback == true" @click="posted_feedback=false;feedback_count--" x-cloak>
                {% form_tag 'delete_feedback', page: page, useful_type: site.settings.feedback_useful_type %}
                  <div class="shrink-0">
                    <button name="feedback[useful_type]" value="{{ site.settings.feedback_useful_type  }}"
                    :class="{ '!bg-primary': '{{ site.settings.feedback_useful_type }}' === '{{ page.last_feedback_emoji }}' }"
                      class="h-16 w-16 pt-2 items-center text-center flex flex-col rounded-full border border-primary bg-primary hover:bg-slate-300 dark:hover:bg-slate-800">
                        <span>{{ site.settings.feedback_useful_type }}</span>
                        <span class="text-white" x-text="feedback_count"></span>
                    </button>
                    <span>feedback</span>
                  </div>
                {% endform_tag %}
              </div>
              <div x-show="posted_feedback == false" @click="posted_feedback=true;feedback_count++"  x-cloak>
                {% form_tag 'feedback', page: page %}
                  <div class="shrink-0">
                    <button name="feedback[useful_type]" value="{{ site.settings.feedback_useful_type }}"
                      class="h-16 w-16 pt-2 items-center text-center flex flex-col rounded-full border border-primary-200 bg-gradient-to-tr from-slate-200/20 via-slate-200/50 to-slate-200/20 hover:bg-slate-300 dark:hover:bg-slate-800">
                        <span>{{ site.settings.feedback_useful_type }}</span>
                        <span class="" x-text="feedback_count"></span>
                    </button>
                    <span>feedback</span>
                  </div>
                {% endform_tag %}
              </div>
            </div>
          </div>
          
        </div>
      </main>
      <!-- main content -->
      <!-- comments -->
      <section class="mx-auto max-w-xl min-w-xl px-6 py-6 md:py-8 bg-white rounded-md shadow-lg shadow-slate-200">
        {% if page.author.id == current_user.member_id %}
          <div class="my-4">
            <div class="relative p-5 border rounded-md bg-slate-200 dark:bg-slate-800 border-slate-600">
              <div class="items-center space-y-3 sm:flex sm:space-y-0 sm:space-x-5">
                  <a href="/s/edit?page_path={{ page.full_slug }}" class="btn">
                    <span>{{ 'buttons.edit_post' | t }}</span>
                  </a>
                  {% form_tag 'delete_page', page %}
                    <button class="btn btn-ghost"> {{ 'buttons.delete' | t }} </button>
                  {% endform_tag %}
              </div>
            </div>
          </div>
        {% endif %}

        {% unless page.published_at %}
          <p class="mt-4 text-sm font-bold text-info"> {{ 'generic.under_review' | t }} </p>
        {% endunless %}
        
        <div class="my-4">
          {% render 'reply_page_form', target: page %}
        </div>

        <!-- Comments list -->
        <div data-controller="load_more">
          <h4 class="mb-2 h4 font-bold "> {{ page.comments | size }} {{ 'generic.comments' | t }} </h4>
          <!-- Comments (1st level) -->
          {% assign answers = page.comments | roots  %}
          <ul id="page_{{ page.id }}_replies_list" data-load_more-target="container">
            {% paginate_tag answers %}
              {% for reply in answers %}
                {% render 'reply', reply: reply %}
              {% endfor %}
            {% endpaginate_tag %}
          </ul>
          {{ paginate.next.page  }}
          {% if paginate.next_page %}
            <button id="load_more" data-action="click->load_more#loadMore" data-load_more-url-value="/s/replies?page_path={{ page.full_slug }}&_page={{ paginate.next_page }}"
            data-load_more-target="button" class="btn btn-ghost"
            >
              {{ 'generic.read_more' | t }}
            </button>
          {% endif %}
        </div>
      </section>

    </div>
  </div>
</div>

<!--/ article-->
{% schema %}
  {
    "name": "Post",
    "description": "帖子详情模板",
    "thumb_url": "images/theme/page.png",
    "description": "Post detail",
    "sub_page_templates": ["post"],
    "settings": [
        {
          "id": "tags",
          "type": "tag_picker",
          "multiple": true,
          "label": "标签"
        },
        {
          "id": "title",
          "type": "text",
          "label": "标题"
        },
        {
          "id": "content",
          "type": "richtext",
          "label": "页面内容"
        }
    ],
    "user_creatable": true,
    "user_editable": true,
    "user_deletable": true,
    "user_permitted_attributes": ["title", "content"]
  }
{% endschema %}
