
<div class="hidden sm:block">
  <div class="py-4 mx-auto truncate max-w-7xl">
    {% render 'breadcrumb', breadcrumb: page.breadcrumb %}
  </div>
</div>

<div class="flex flex-col min-h-full bg-gray-50">

  <div class="flex-1 lg:pb-24 sm:px-8 lg:pt-12 lg:px-12">
    <div class="flex flex-col justify-between mx-auto max-w-screen-xl md:flex-row">

      <!-- main content -->
      <main class="order-1 w-full md:order-2">
        <div class="px-6 py-6 md:py-8 md:px-12 bg-white rounded-md shadow-lg  shadow-slate-200">
          <h1 class="h2">
            {{ page.settings.title }}
          </h1>

          <div>
            <div class="flex items-center space-x-2 mb-4">
              {% if site.settings.is_allow_author %}
                <img src="{{ page.author.avatar_url | default: site.settings.default_avatar }}" class="w-8 h-8 rounded-full" />
              {% endif %}
              <div>
                {% if site.settings.is_allow_author %}
                  <p class="text-lead line-clamp-2 mb-[3px] text-gray-900 text-heading-6">
                    {{ page.author.name }}
                  </p>
                {% endif %}
                {% if site.settings.is_allow_published_at %}
                  <p class="text-sm text-gray-500 text-md">发布于：{{ page.published_at | date: "%Y-%m-%d" }}</p>
                {% endif %}
              </div>
            </div>
          </div>

          <article class="max-w-full">
            <div class="overflow-auto">
              <div class="ProseMirror prose sm:prose-base lg:prose-lg focus:outline-none">
                {{ page.settings.content }}
              </div>
            </div>
          </article>

          <!--Tags-->
          {% if page.settings.tags.size > 0 %}
            <div class="flex items-center py-4 mt-4 space-x-2 text-xs font-light md:mt-8 shrink-0 ">
                <p>{{ 'generic.tags' | t }}：</p>
                {% for tag in page.settings.tags %}
                    <a href="{{ tag.path }}" style="background-color: {{ tag.color }}" class="px-2 py-1 text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2">
                    {{ tag.name }}
                    </a>
                {% endfor %}
            </div>
          {% endif %}

          <!-- Feedback -->
          <div class="py-8 lg:flex lg:items-center lg:justify-between">
            <div></div>
            <div class="">
              <div class="text-lg font-bold text-slate-800 ">{{ 'generic.feedback' | t }}</div>
              {% render "feedback_form", page: page %}
            </div>
          </div>

          <!-- Sub Post Section -->
          {% render 'sub_page_list', page: page %}
        </div>
        <!-- comments -->
        <section class="max-w-screen-sm mx-auto">
          {% if page.author.id == current_user.member_id %}
            <div class="my-4">
              <div class="relative p-5 border rounded-md bg-slate-200 dark:bg-slate-800 border-slate-600">
                <div class="items-center space-y-3 sm:flex sm:space-y-0 sm:space-x-5">
                    <a href="/s/edit?page_path={{ page.full_slug }}" class="btn">
                      <span>再次编辑</span>
                    </a>
                    {% form_tag 'delete_page', page %}
                      <button class="btn btn-ghost"> 删除 </button>
                    {% endform_tag %}
                </div>
              </div>
            </div>
          {% endif %}

          {% unless page.published_at %}
            <p class="mt-4 text-sm font-bold text-info"> 内容正在审核，审核通过后其他人可查看 ! </p>
          {% endunless %}
          
          <div class="my-4">
            {% render 'reply_page_form', target: page %}
          </div>

          <!-- Comments list -->
          <div data-controller="load_more">
            <h4 class="mb-2 font-bold "> {{ page.comments | size }} 条评论 </h4>
            <!-- Comments (1st level) -->
            {% assign answers = page.comments | roots  %}
            <ul id="page_{{ page.id }}_replies_list" data-load_more-target="container">
              {% paginate_tag answers, per: 4 %}
                {% for reply in answers %}
                  {% render 'reply', reply: reply %}
                {% endfor %}
              {% endpaginate_tag %}
            </ul>
            {{ paginate.next.page  }}
            {% if paginate.next_page %}
              <button id="load_more" data-action="click->load_more#loadMore" data-load_more-url-value="/s/replies?page_path={{ page.full_slug }}&_page={{ paginate.next_page }}"
              data-load_more-target="button"
              >
                查看更多回复
              </button>
            {% endif %}
          </div>
        </section>
      </main>
      <!-- main content -->

    </div>
  </div>
</div>

<!--/ article-->
{% schema %}
  {
    "name": "Post",
    "description": "帖子详情模板",
    "thumb_url": "images/theme/page.png",
    "description": "Post detail",
    "sub_page_templates": ["post"],
    "settings": [
        {
          "id": "tags",
          "type": "tag_picker",
          "multiple": true,
          "label": "标签"
        },
        {
          "id": "title",
          "type": "text",
          "label": "标题"
        },
        {
          "id": "content",
          "type": "richtext",
          "label": "页面内容"
        }
    ],
    "user_creatable": true,
    "user_editable": true,
    "user_deletable": true,
    "user_permitted_attributes": ["title", "content"]
  }
{% endschema %}
